@using ApplicationCore.Entities
@using ApplicationCore.Interfaces;
@inject IRepository<Product> ProductRepo
@{
	ViewData["Title"] = "Home Page";
}

<h1>Products (Test)</h1>

@foreach (var product in await ProductRepo.GetAllAsync())
{
	<p>
		<img src="~/img/products/@product.PictureUri" height="24" />
		@product.Id, @product.Name, @product.Price
	</p>
}
@*
	Todo:
	*Responsive Grid,
	*Filter by category,brand
	*Pagination
*@

